.recipesContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 15px;
}

@media ( min-width : 1000px ) {

  .recipesContainer {
    justify-content: space-between;
    padding: 15px 0 0;
  }
}
