.LoginContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.LogoContainer {
  background-color: #41197f;
  color: white;
  height: 50%;
  width: 100%;

}

.LoginForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 100px;
  width: 100%;
}

.LoginForm form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.logoDiv {
  display: flex;
  height: 50%;
  justify-content: center;
}

.logoDiv img {
  margin-bottom: -100px;
  width: 70%;
}

.vegetablesDiv {
  align-items: flex-start;
  display: flex;
  height: 40vh;
  justify-content: flex-start;
  margin-bottom: 50px;
  position: relative;
  width: 100vw;
}

.vegetablesDiv img {
  padding-bottom: 10%;
  width: 80%;
}

.label {
  width: 100%;
}

@media ( min-width : 550px ) {

  .vegetablesDiv img {
    width: 60vw;
  }

  .logoDiv img {
    width: 40%;
  }
}

@media ( min-width : 810px ) {

  .vegetablesDiv img {
    width: 50vw;
  }

  .logoDiv img {
    width: 35%;
  }

  .logoDiv {
    align-items: center;
  }

  .LoginForm form {
    width: 50%;
  }

}

@media ( min-width : 1126px ) {

  .vegetablesDiv img {
    width: 25vw;
  }

  .logoDiv img {
    width: 20%;
  }

  .logoDiv {
    padding-top: 7%;
  }

  .LoginForm {
    height: 70%;
  }
}


@media ( min-width : 2000px ) {

  .vegetablesDiv img {
    width: 20vw;
  }

  .logoDiv img {
    width: 20%;
  }

  .logoDiv {
    padding-top: 7%;
  }

  .LoginForm {
    height: 70%;
  }
}
