.cardContainer {
  align-items: flex-start;
  border: 0.52px solid #b1b1b1;
  border-radius: 10px;
  display: flex;
  flex: 1;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 5px;
  width: 100%;
}

.cardContainer h1 {
  font-size: 0.9em;
}

.textContainer {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  min-height: 50px;
}

.card {
  width: 100%;
}

.card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  width: 100%;
}

.link {
  display: flex;
  height: 80%;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 45%;
}

.loadingContainer {
  align-items: center;
  border: 0.55px solid #b1b1b1;
  border-radius: 5px;
  display: flex;
  height: 166.21px;
  justify-content: center;
  width: 163.35px;
}

@media ( min-width : 1000px ) {

  .cardContainer {
    width: 400px;
  }
}
