.categoryFilters {
  align-items: flex-start;
  display: flex;
  justify-content: space-around;
}

.categoryFilters button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

@media ( min-width : 1000px ) {

  .categoryFilters img {
    height: 70px;
    min-width: 60px;
    width: 50px;
  }
}
