.HeaderContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media ( min-width : 1000px ) {

  .HeaderContainer {
    height: 100%;
    margin-bottom: 5vh;
  }

}

.nav {
  background-color: #fcdc36;
  display: flex;
  height: 20vh;
  min-height: 20vh;
}

.appTitle {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.icons button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.RecipesIcon {
  height: 80%;
}

.RecipesTitle {
  height: 45%;
}

.searchIcon {
  height: 70%;
}

.profileIcon {
  height: 70%;
}

@media ( min-width : 1000px ) {

  .RecipesIcon {
    height: 80%;
  }

  .RecipesTitle {
    height: 50%;
  }

  .searchIcon {
    height: 70%;
  }

  .profileIcon {
    height: 70%;
  }

  .nav {
    max-height: 5vh;
    min-height: 5vh;
  }
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;

}

.title {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
}

.drinkOrPlateIcon {
  width: 10vw;
}

@media ( max-width : 600px ) {

  .nav {
    max-height: 5vh;
    min-height: 7vh;
  }
}

@media ( min-width : 600px ) {

  .drinkOrPlateIcon {
    width: 8vw;
  }

  .nav {
    max-height: 15vh;
    min-height: 15vh;
  }
}

@media ( min-width : 1000px ) {

  .drinkOrPlateIcon {
    width: 5vw;
  }

  .nav {
    max-height: 5vh;
    min-height: 5vh;
  }

  .icons {
    min-width: 15vw;
  }

}

@media ( min-width : 1800px ) {

  .drinkOrPlateIcon {
    width: 3vw;
  }

  .nav {
    max-height: 8vh;
    min-height: 8vh;
  }

}
