.HeaderContainer {
  display: flex;
  flex-direction: column;
  height: 22vh;
}

.nav {
  background-color: #fcdc36;
  display: flex;
  height: 40%;
}

.appTitle {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.icons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.icons button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0;
}

.RecipesIcon {
  height: 80%;
}

.RecipesTitle {
  height: 45%;
}

.searchIcon {
  height: 70%;
}

.profileIcon {
  height: 70%;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;

}

.title {
  color: #41197f;
  font-family: Epilogue , sans-serif;
  font-weight: 900;
}

.drinkOrPlateIcon {
  width: 10vw;
}

.searchInputContainer {
  align-items: center;
  display: flex;
  justify-content: center;

}

.formContainer {
  align-items: center;
  background-color: #41197f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 10vh;
  justify-content: space-between;
  width: 90%;
}

.formContainer input {
  width: 100%;
}

.formButtons {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.searchBtn {
  background-color: #fcc436;
  border-radius: 10px;
  color: white;
  font-family: Epilogue , sans-serif;
  margin-bottom: 0.2vh;
  width: 100%;
}
