* {
  font-family: Epilogue , sans-serif;
}

@media ( min-width : 1000px ) {

  .mainDiv {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .contentContainer {
    border: 1px solid black;
    width: 50%;
  }
}
