* {
  font-family: Epilogue , sans-serif;
}

@media ( min-width : 1000px ) {

  .mainDiv {
    background-color: #41197f;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
  }

  .contentContainer {
    background-color: white;
    margin-bottom: 50px;
    width: 50%;
  }
}
